#header{
    width: 100%;
    background:rgba(255,255,255, 0.7);
    background-size: cover;
    height: 90px;
    border: solid 5px white;
}
h6{
    margin: 0 0 0 40px;
    font-size: 50px;
    color: black;
}
body{
    font-family: 'Shadows Into Light Two', cursive;
    background: url('lighthouse.jpeg') no-repeat center;
    background-size: cover;
}
h3{
    font-size: 60px;
    margin: 0;
    margin-left: 45px;
}
#board{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.input {
    border: solid rgba(255,255,255, 0.9);
    height: 31.75%;
    width: 31.75%;
    float: left;
    background:rgba(255,255,255, 0.5);
}

.input:hover{
    background-color: darkred;
    cursor: pointer;
    -webkit-transition: backgound-color 5s ease-out;
    -moz-transition: background-color 5s ease-out;
    -o-transition: background-color 5s ease-out;
    transition: background-color 5s ease-out;
}

h3#symbol{
    font-size: 80px;
    color: black;
}

ul{
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
}

li{
    display: inline-block;
    padding-left: 9.5%;
    padding-right: 9.5%;
}

.winner-main-msg{
    color: darkred;
    z-index: 100;
}

#wrapper {
    text-align: center;
    height: 200px;
}

.board-reset{
    font-size: 20px;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    background-color: lightgray;
}

#score{
    text-align: center;
    font-size: 20px;
    padding-left: -100px;
}

p {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 25px;
    font-size: 40px;
}

footer{
    height: 175px;
    background:rgba(255,255,255, 0.5);
    border: solid 5px white;
}

#winnerX #winnerO{
    font-size: 25px;
}

ul#scores{
    padding-left: 0;
}