body{
    font-family: 'Palanquin', sans-serif;
    background-color: lightgrey;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}

#start-button{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

#board{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

    border: solid gainsboro;

}

input {
    border: inset cornsilk;
    height: 32%;
    width: 32%;
    float: left;
    background-color: ghostwhite;
    margin: 2px;
    font-size: 50px;
    border-radius: 20%;

}

.play {
    background-color: silver;
    margin-left: auto;
}

ul{
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 0px;
}

li{
    display: inline-block;
}

#score-visitor{
    float: right;
    margin-right: 100px;
}

#score-home{
    margin-left: 100px;
