body{
    font-family: 'Droid Sans', sans-serif;
    background: url('blue_background.jpg') no-repeat center;
    background-size: cover;
}

h6{
    margin: 0px 0px 0px 40px;
    font-size: 40px;
    color: white;
}

#header{
    width: 100%;
    background-color: darkgrey;
    height: 80px;
    margin-top: 0px;
    padding-top: 0px;


}

h3{
    font-size: 45px;
    margin: 0px;
    margin-left: 45px;
}


#board{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;


}

.input {
    border:solid white;
    height: 31%;
    width: 31%;
    float: left;
    background-color: transparent;
    font-size: 20%;

}



ul{
    margin-top: 0px;
    margin-bottom: 3px;
    padding-left: 0px;


}

li{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;

}

#score-visitor{
    /*float: right;*/
}

#score-home {
}

#winner-main-msg{
    /*font-size: 25px;*/
    /*margin-bottom: 0px;*/
    color: darkgreen;

}

#wrapper {
    text-align: center;
}

#board-reset{
    font-size: 20px;
    width: 300px;
    length: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;




}

p {
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

footer{
    height: 300px;
    background-color: darkgrey;
}
