<!DOCTYPE html>
<html ng-app="tictactoeApp">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/tictactoeController.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css'>
	</head>
    <body ng-controller="TictactoeController">

    <h1>Tic-Tac-Toe</h1>
    {{2+1}}

    <ul id="scores">
        <li id="score-home">
            <h2>Score of X</h2>
            <p id="winnerX">   </p>

        </li>

        <li id="winner-msg">
            <h2 ng-show="game.winner" id="winner-main-msg">Winner</h2>
            <p>   </p>

        </li>

        <li id="score-visitor">
            <h2>Score for O</h2>
            <p id="winnerO">   </p>

        </li>
    </ul>


    <div id ="board">
        <div class="input" ng-click="move($index)" ng-repeat="block in game.board track by $index">
            <h1>{{getSymbol($index)}}</h1>
        </div>
    </div>

        <!--<div class="row" ng-repeat="row in ttt.gameBoard">-->
            <!--</div>-->

    <input type="button" id="board-reset" value="New Game"  ng-click="reset()"/>


    </body>



</html>


<!--<input type = "button" id="zero" onclick="assign('zero')"/>-->
<!--<input type = "button" id="zero" onclick="{{ttt.assign}}"/>-->
<!--<input type = "button" id="one" onclick="{{ttt.assign}}('one')"/>-->
<!--<input type = "button" id="two" onclick="{{ttt.assign}}('two')"/>-->

<!--<input type = "button" id="three" onclick="{{ttt.assign}}('three')"/>-->
<!--<input type = "button" id="four" onclick="{{ttt.assign}}('four')"/>-->
<!--<input type = "button" id="five" onclick="{{ttt.assign}}('five')"/>-->

<!--<input type = "button" id="six" onclick="{{ttt.assign}}('six')"/>-->
<!--<input type = "button" id="seven" onclick="{{ttt.assign}}('seven')"/>-->
<!--<input type = "button" id="eight" onclick="{{ttt.assign}}('eight')"/>-->

